.cart {
	padding-top: 50px;
}

.red-btn {
	all: unset;
	background-color: crimson;
	padding: 5px 10px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 5px;
	color: white;
	display: inline-block;
	cursor: pointer;
}

.product-image {
	width: 100px;
	height: 100px;
}