nav {
	background-color: #eee;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
}

nav .logo {
	margin-right: 30px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

nav .links {}

nav .links .link {
	padding-right: 10px;
	cursor: pointer;
	color: #d03066;
}